// Default 900-100 titles
.title-default {
  display: inline-block;
  font-weight: 100;
  border-bottom: 0.15em solid $brand-primary;
  span {
    @extend .text-hide;
  }
  strong {
    font-weight: 900;
  }
}

// Title lines moved by GSAP
.title-lines {
  text-align: center;
  overflow: hidden;
  .section-title {
    display: inline-block;
    font-size: 3.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    position: relative;
    @media (min-width: $screen-xs) { font-size: 4em; }
    .before,
    .after {
      content: '';
      position: absolute;
      top: 50%;
      width: 4em;
      height: 0.15em;
      transform: translateY(-50%);
      background-color: $brand-primary;
    }
    .before { left: 100%; }
    .after { right: 100%; }
  }
}

// Gallery generic hover styling
.gallery-hover {
  display: flex;
  flex-flow: row wrap;
  .item-grid {
    width: 100%;
  }
  .item {
    position: relative;
    overflow: hidden;
    &.tapped,
    &:hover {
      .item-image img { transform: scale(1.25); }
      .item-overlay { opacity: 1; z-index: 1; }
    }
  }
    .item-image {
      border: 1px solid rgba(#000, 0.075);
      img {
        width: 100%;
        height: auto;
        transition: transform 0.6s cubic-bezier(0.15, 1, 0.25, 1);
      }
    }
    .item-overlay {
      position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.85) 75%,rgba(0,0,0,0.9) 100%);
      display: flex;
      padding: 30px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.8s cubic-bezier(0.15, 1, 0.25, 1);
    }
      .item-content {
        color: #fff;
        text-align: center;
        p {
          font-weight: 100;
          text-transform: lowercase;
          font-size: em(14px);
        }
      }
        .item-title {
          font-size: em(26px);
          font-weight: 900;
          margin: 0;
          text-transform: uppercase;
        }
}

// Social networks
.list-social {
  font-size: 2.5em;
  a {
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.25s;
    &:hover {
      transform: scale(1.05);
      font-weight: 900;
    }
  }
  .facebook {
    color: desaturate($color-facebook, 25%);
    &:hover { color: $color-facebook; }
  }
  .twitter {
    color: desaturate($color-twitter, 65%);
    &:hover { color: $color-twitter; }
  }
  .linkedin {
    color: desaturate($color-linkedin, 65%);
    &:hover { color: $color-linkedin; }
  }
}

@import "pages/home";
@import "pages/portfolio";
@import "pages/contact";
